body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(33, 55, 100); 
  }
/* Global CSS */
.obj-width{
    max-width: 1200px;
    margin: auto;
}
  
  header {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .logo {
    color: #fff;
    font-size: 27px;
    margin-right: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-left: 1000px;
    
  }
  
  #search-button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:8px;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  .no-results-message {
    font-size: 25px;
    text-align: center;
    color: rgb(252, 247, 247);
}

  
  /* Media Query for Responsive Design
  @media only screen and (max-width: 600px) {
    .logo {
      font-size: 20px;
    }
    .search-bar {
      width: 150px;
    }
    .search-button {
      padding: 8px 12px;
    }
  } */
  #blog-container{
    padding:3 0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 

  }

  .blog-card{
    background-color: #fff;
    width:280px;
    border:1px solid #fefefe;
    border-radius: 10px;
    cursor: pointer;
    padding:1rem;
    margin:40px;
  }

  .blog-card:hover{
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
  }
  .blog-card img{
    width:100%;
    height:280px;
    object-fit: cover;
    border-radius:5px;
    margin-bottom:1rem;
  }
  .blog-card h2{
    color:#141414;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .blog-card p{
    font-size: 0.9rem;
    padding-top:0.7rem;
  }
  #search-results-container {
    padding:3 0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}



  @media(max-width:500px){
    nav{
        padding: 0 20px;
    }
    .navbar .logo {
        font-size: 1.8rem;
    }
    .search-bar {
        width:150px;
        padding: 10px 10px;
        
    }
    .blog-card{
        width:100%;
    }
  }
  