/* contactstyle.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('news.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center 30%; 
}

/* Header Styles */
header {
    background-color: #231f1f;
    padding: 10px 20px;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.logo {
    color: #fff;
    font-size: 27px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}


.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Contact Styles */
.contact {
    text-align: center;
    margin: 50px auto;
    padding: 0 10px;
  
}

/* contactstyle.css */

.contact-content {
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (0.8) to change the transparency */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:250px
}


.contact-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.contact-content form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.contact-content form input[type="text"],
.contact-content form input[type="email"],
.contact-content form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-content form textarea {
    resize: vertical;
}

.contact-content form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-content form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    background-color: #231f1f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
